extends layout

block content
    .wrapper 
        header 
            div
                h1 Operaciones CRUD.
            nav 
                a(href="/form")  CREATE 
                a(href="/")  READ
                

        main 
            h2 UPDATE
            p En esta sección actualizo un libro de mi database.
            h2 Actualizar libro

            .formContainer 
                form(action=`/update/${book._id}` method="post") 
                    input(type="text" placeholder="Título" required name="bookName" value=`${book.bookName}`)
                    input(type="text" placeholder="Autor" required name="author" value=`${book.author}`)
                    input(type="text" placeholder="Género" required name="genre" value=`${book.genre}`)
                    input(type="text" placeholder="Páginas" required name="pages" value=`${book.pages}`)
                    input(type="text" placeholder="Año" required name="year" value=`${book.year}`)

                    input(type="submit" value="Actualizar")
